<!-- <div class="dialog">
    <div class="dialog-header">
      <span class="close-icon" (click)="closeDialog()">
        <i class="fas fa-times"></i>
      </span>
    </div>
    <div class="dialog-content">
      <p>{{data.msg}}</p>
      <i class="fas fa-check success-icon" *ngIf="exitoso"></i>
      <i class="fas fa-times error-icon" *ngIf="!exitoso"></i>
      <button class="dialog-button" (click)="closeDialog()">Aceptar</button>
    </div>
  </div>

   -->
   <h1 mat-dialog-title>Dialog with elements</h1>
   <div mat-dialog-content>
    {{data.mensaje}}
    <i class="fas fa-check success-icon" *ngIf="data.exitoso"></i>
    <i class="fas fa-times error-icon" *ngIf="!data.exitoso"></i>
    
   </div>
   <div mat-dialog-actions>
     <button mat-button mat-dialog-close (click)="closeDialog()">Aceptar</button>
   </div>
  
  
  
  
  